@charset "UTF-8"; 

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'fonte-destaque';
    src: url(fonts/04B_30__.TTF) format('truetype');
}

body {
    background-color: #B8BDB5;
}

header {
    background-color: #5F7470;
    min-height: 100px;
    padding-top: 30px;
    max-width: 1300px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-family: fonte-destaque;
    font-size: 3em;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.281);
    text-align: center;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;
    padding-top: 20px;
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 5px;
}

nav > a {
    color: #E0E2DB;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    color: #B8BDB5;
}

main {
    background-color: #E0E2DB;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100vh;
    width: 70vw;
    margin: auto;
}

div {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-family: fonte-destaque;
    font-size: 2em;
    border: 4px solid black;
    border-radius: 10px;
}

img {
    width: 19%;
    border: 3px solid black;
}

footer {
 
}