@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #191516;
}

#logo > img {
    width: 100px;
    height: 100px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: url(img/pexels.jpg) no-repeat center center fixed;
    background-size: cover;
}