@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #091813;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}

#logo > img {
    width: 100px;
    height: 100px;
}

ul {
    list-style: none;
    font-style: italic;
}

a {
    text-decoration: none;
}

body {
    background: url(img/pexels-eberhard.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #091813;
    box-shadow: 1px 1px 10px 1px #091813;
}

header ul {
    display: flex;
}

header > ul > li {
    padding: 5px;
    padding-right: 10px;
    font-weight: bold; 
}

header > ul > li > a {
    transition: 50ms;
}

header > ul > li > a:hover {
    border-bottom: 2px dashed #405e49;
    color: #405e49;
}

.container {
    text-align: center;
    padding-top: 30px;
}

.container .name h1 {
    font-size: 3em;
}

.container .name h5 {
    font-size: 1.5em;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    font-weight: bold;
}

.form {
    width: 35%;
    margin: 0 auto;
    border: thick double #646464;
    margin-top: 10px;
    padding: 10px;
}

.form input {
    min-width: 50%;
    padding: 5px 8px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    margin-top: 10px;
}

.form button {
    min-width: 20%;
    padding: 5px 8px;
    background: linear-gradient(to right, #405e49 50%, #091813 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #aaaaaa;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-left: -10px;
}

.form button:hover {
    background-position: left bottom;
}