@charset "UTF-8";

#um {
    position: relative;
    background: linear-gradient(0deg, rgba(255, 160, 0, 0.3), rgba(255, 160, 0, 0.3)), url('../img/home-img-1.png');
    height: 638.18px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    font-size: 4.2em;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

h1#titulo1 {
    /* ASSISTIR AULA */
    position: absolute;
    left: 969px;
    top: 150px;

}

h1#titulo2 {
    color: #FFA000;
    text-align: center;
    font-size: 3.5em;
    margin-top: 80px;
}

#dois {
    display: flex;
    justify-content: center;
}

.imagem {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 345px;
    height: 342px;
}

#imagem1 {
    background-image: url(../img/risoto.png);
}

#imagem2 {
    background-image: url(../img/bolo-banana.png);
}

#imagem3 {
    background-image: url(../img/tabule.png);
}

/* #dois span {
    font-weight: bold;
    font-size: 1.5em;
}

#dois button {
    background-color: green;
    border-style: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    width: 185px;
    height: 48px;
    bottom: 20px;
} */

#tres {
    position: relative;
    background: linear-gradient(0deg, rgba(255, 193, 7, 0.4), rgba(255, 193, 7, 0.4)), url(../img/home-img-2.png);
      height: 772px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#tres > p {
    position: absolute;
    width: 424px;
    height: 333px;
    left: 123px;
    top: 330px;
    font-size: 1.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#tres > h1,p {
    color: white;
    justify-content: left;
}

h1#titulo3 {
    /* assistir aula */
    position: absolute;
    left: 122px;
    top: 160px;
}

#dois  div {
    margin: 20px;
    border: 1px solid black; 
}

