@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#img-banner {
    padding: 15px 0px 15px 0px;
}

header {
    display: flex;
    background-color: #FFC107;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 3px 4px rgb(184, 107, 19);
}

nav#cabeçalho {
    background-color: #FFA000;
    text-align: center;
    padding: 15px;
    word-spacing: 25px;
}

nav#cabeçalho > a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bolder;
    padding: 10px;
}

main {
    padding: 100px 190px 120px 150px;
}

section {
    display: flex;
}

section > h1 {
    color: #FFA000;
    font-size: 3em;
    padding-bottom: 30px;
}

#esquerda > div > h4 {
    margin-top: 50px;
}

article > div > span {
    display: inline-block;
    border: 1px green solid;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    color: green;
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.1em;
    margin-left: 10px;
}

#direita > h2 {
    color: #FFA000;
    font-weight: normal;
    padding-bottom: 30px;
    font-size: 2em;
}

div.relacionadas {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.562);
    width: 345px;
    height: 400px;
    margin-bottom: 10px;
}


div.relacionadas > h3 {
    text-align: center;
}

footer {
    background-color: #FFC107;
    color: white;
    font-weight: bold;
    display: flex;
}

footer > p {
    justify-content: center;
}