* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#img-banner {
    padding: 15px 0px 15px 0px;
}

nav {
    display: flex;
    background-color: orange;
    justify-content: center;
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 15px;
}

header {
    display: flex;
    background-color: rgb(255, 181, 44);
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 4px 4px rgb(160, 86, 1);
}