@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#img-banner {
    padding: 15px 0px 15px 0px;
}

header {
    display: flex;
    background-color: #FFC107;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 3px 4px rgb(184, 107, 19);
}

nav#cabeçalho {
    background-color: #FFA000;
    text-align: center;
    padding: 15px;
    word-spacing: 25px;
}

nav#cabeçalho > a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bolder;
    padding: 10px;
}

main {
    margin-left: 120px;
    margin-top: 150px;
}

section {
    display: inline-block;
}

section#esquerda {
    width: 592px;
}

section#esquerda > h1 {
    color: #FFA000;
    font-size: 2em;
}

section#esquerda > div > div {
    display: inline-block;
    border: 1px green solid;
    border-radius: 10px;
    padding: 8px;
    color: green;
    font-weight: bold;
}

#direita {
    margin-left: 70px;
}

div.relacionadas {
    box-shadow: 1px 1px 1px 1px black;
    width: 345px;
    height: 400px;
    margin-bottom: 10px;
}


div.relacionadas > h3 {
    text-align: center;
}

footer {
    background-color: #FFC107;
    color: white;
    font-weight: bold;
}

footer > p {
    display: inline-block;
}